<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>register</title>
</head>
<body>
<form action="/saveUser" method="post">

    <header>
        <nav class="navbar navbar-light text-center" style="background-color: #e3f2fd;">
            <h1 class="my-0 mr-md-auto font-weight-normal title-champion"> CHAMPIONSHIP </h1>
        </nav>
    </header>

    <h1>Creer une compte</h1>

    <div class="formcontainer">
        <div class="container">
            <label for="uname"><strong>Username</strong></label>
            <input type="text" placeholder="Enter Username" name="uname" id="uname"  required>

            <label for="psw"><strong>Password</strong></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <label for="psw2"><strong>Confirm password</strong></label>
            <input type="password" placeholder="Enter Password" name="psw2" id="psw2" required>
        </div>
        <button type="submit" class="btn btn-info"><strong>Create account</strong></button>
        <div class="d-flex flex-row align-items-center justify-content-between">
            <a href="login.html">Log in</a>
        </div>
    </div>
    <button type="submit" class="btn btn-info">Login</button>
</form>
</body>
</html>